<div class="header">
  <h1> <strong>Call - center</strong></h1>
</div>
<hr><hr>

<section>
  <div class="filter" *ngIf=isShow>
    <header><h4>Поиск сотрудника</h4></header>
  </div>
  <div class="form-group">
    <div *ngIf="!isShow"  class="form-group" >
      <button type="button"
            (click)="show()">Найти сотрудника</button>
    </div>
    <div class="filter" *ngIf=isShow >
      <input type="text" name="namePerson"
            class="form-control"
            [(ngModel)]="searchName"
            placeholder="Введите фамилию..."
            (click)="clikInput()"/>
      <div class="form-group">
        <button type="button"
        [disabled] ="!searchName"
                (click)="search()">Найти</button>
      </div>
      <div *ngIf="isShow" class="form-group">
        <button type="button" (click)="show()">Закрыть</button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isShow" >
  <div class="filter">
    <header>
      <h4>Данные сотрудника: <span>{{searchName}}</span></h4>
    </header>
  </div>

  <table *ngIf="isOut">
    <thead>
      <th>Ф.И.О.</th>
      <th>Комната</th>
      <th>Рабочий телефон</th>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons; let i = index" >
        <td>{{i+1}}.  {{person.operators[0]}}</td>
        <td>{{person.room}}</td>
        <td>{{person.phone}}</td>
      </tr>
    </tbody>
  </table>

  <div class="message" *ngIf="!isOut && isSearch ">
      <p>Нет данных</p>
  </div>
</section>
<hr><hr>

<section>
  <div class="form-group">
    <span>Выберите помещение:</span>
    <select
        name="box"
        [(ngModel)]="searchRoom"
        (focus)="listRooms()">
      <option selected>Все телефоны</option>
      <option *ngFor="let room of rooms; let i = index" [value]="room">
        {{room}}
      </option>
    </select>
  </div>
</section>
 <hr><hr>

<section>
  <header>
    <h4>Список телефонов</h4>
      <strong>Комната:<span>{{searchRoom}}</span></strong>
    <hr />
  </header>
  <div class="filter" *ngIf="dataService.phones.length">
    <input type="text" placeholder="Поиск телефона..."
            [(ngModel)]="searchPhone"/>
  </div>

    <ul class="form-group" >
      <li class="form-control" name="showPhone "
              *ngFor="let tel of dataService.phones | phonesFilter: searchRoom | telephoneFilter: searchPhone; let i=index">
        <div *ngIf="dataService.phones.length; else noPhone">
          <strong>{{i+1}}</strong>
          <span *ngIf="searchRoom =='Все телефоны'" ><strong>{{tel.room}}</strong></span>
          <span><strong>{{tel.phone}}</strong></span>
        </div>
        <div class="buttons">
          <div class="form-control">
            <button type="button" name="showButton"
              (click)="showOperators(tel)"
              [disabled] = "tel.phone == 'Телефонов нет'">
              Показать операторов</button>
          </div>
          <button type="button" name="remPhone"
              title= "Для удаления номера удалите операторов"
              (click)="removePhone(tel.phone)"
              [disabled] = "tel.operators.length !==0 || tel.phone == 'Телефонов нет'">
              Удалить номер</button>
          </div>
      </li>
    </ul>

    <hr/>
      <div *ngIf="searchRoom !=='Все телефоны'" class="form-group " >
        <span>Телефон:</span><p>+7</p>
        <input class="form-control"
          type="text"
          placeholder="Введите 10 цифр"
          [(ngModel)]="addTel"
          name = "phone" #phone="ngModel" required pattern="[0-9]{10}"
          (click)= "clean()"/>
        <button type="button"
              (click)= "addPhone()"
              [disabled] ="phone.invalid">
                Добавить</button>
      </div>
      <div class="message">
        <p *ngIf="!notPhone">Этот номер существует</p>
      </div>
  </section>

<ng-template #noPhone>
  <p>Телефонов нет</p>
</ng-template>
<hr><hr>

<section *ngIf="isOperators" >
  <header>
    <h4>Список операторов</h4>
    <strong  >Комната:<span>{{roomShow}}</span></strong>
    <strong>Телефон: <span>{{phoneShow}}</span></strong>
    <hr />
  </header>

<div class="filter">
  <input type="text" placeholder="Поиск оператора..."
          [(ngModel)]="searchOperator"/>
</div>

    <ul class="form-goup" *ngIf="operatorsPhone.length; else noOperators">
      <li class="form-control" name="showOper"
            *ngFor="let oper of operatorsPhone | operatorsFilter: searchOperator; let i = index" >
        <div>
          <strong>{{i+1}}</strong>
          <span> <strong>{{oper}}</strong> </span>
        </div>
        <div class="buttons">
          <button *ngIf="searchRoom !=='Все телефоны'" class="btn btn-danger"
                (click)="editShow(i)">Редактировать</button>
          <button *ngIf="searchRoom !=='Все телефоны'" class="btn btn-danger"
                (click)="changePhoneShow(i)">Изменить рабочий телефон</button>
          <button  name="remOperator"
            (click)="removeOperator(oper)">Удалить</button>
        </div>
      </li>
    </ul>

    <form *ngIf=isEditOper >
      <hr>
      <div class="form-group">
        <span>Редактировать данные оператора:</span>
        <input type="text" class="form-control"
              [(ngModel)]="newName" name="newName" />
        <button type="button" (click)="editOperator()">OK</button>
        <button type="button" (click)="clean()">Отмена</button>
      </div>
    </form>

    <form *ngIf=isChangePhone >
      <hr>
      <div class="form-group">
        <span>Изменить рабочий телефон:</span>
        <span><strong>{{Name}}</strong></span>

        <select class="form-control"
            [(ngModel)]="operRoom"
            name="operRoom">
          <option *ngFor="let room of rooms; let i = index" [value]="room">
            {{room}}
          </option>
        </select>

        <select class="form-control"
            multiple="multiple"
            [(ngModel)]="newPhone"
            title = "Выберите номер"
            name="newPhone">
          <option disabled>Выберите новый номер</option>
          <option *ngFor="let tel of dataService.phones | phonesFilter: operRoom; let i = index"
                   [value]="tel">
            {{tel.phone}}
          </option>
        </select>

        <button type="button" (click)="changePhoneOperator(newPhone)">OK</button>
        <button type="button" (click)="clean()">Отмена</button>
      </div>
    </form>

    <ng-template #noOperators>
      <p>Операторов нет</p>
    </ng-template>
    <hr>
      <div *ngIf="searchRoom !=='Все телефоны' && !isEditOper && !isChangePhone" class="form-group">
        <span>Добавить оператора:</span>
        <input class="form-control"
          type="text"
          placeholder="Введите данные..."
          [(ngModel)]="addOper"
          (keydown.enter)="addOperator()" />

        <button type="button" [disabled] ="!addOper"
          (click)= "addOperator()">Добавить</button>

        <button type="button" [disabled]="!addOper"
          (click)="clean()">Отмена</button>

      </div>

      <div class="message">
        <p *ngIf="!notOper">Такой сотрудник есть в штате <br> Уточните данные </p>
      </div>

</section>
